In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

# q1

In [9]:
n = 5
for i in range(1,n):
    for j in range(i):
        print("ineuron",end=" ")
    print("\t")

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

# q2

In [41]:
n = 3
for i in range(n+1):
    print("     "*(n-i),"   ineuron"*i)
for j in range(n-1):
    print("     "*(j+1),"   ineuron"*(n-j-1))

              ineuron
         ineuron   ineuron
    ineuron   ineuron   ineuron
         ineuron   ineuron
              ineuron

# q3

In [42]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [44]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

# q4

In [45]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

# q5

In [46]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

# q6

In [71]:
lst = []
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            if type(key)==int:
                lst.append(key)
            if type(value)==int:
                lst.append(value)
    else:            
        for j in i:
            if type(j)==int:
                lst.append(j)
            
lst

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [72]:
len(lst)

22

# q7

In [73]:
sum(lst)

156

# q8

In [59]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int and j%2!=0:
                print(j)

1
3

# q9

In [61]:
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            if key=="ineuron":
                print(key)
            if value=="ineuron":
                print(value)
    else:
        for j in i:
            if j=="ineuron":
                print(j)

ineuron
ineuron

# q10

In [90]:
lst = []
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            lst.append(key)
            lst.append(value)
    else:            
        for j in i:
            lst.append(j)
lst            

mylst = {}
for i in lst:
    if i not in mylst:
        mylst[i]=lst.count(i)
        
mylst

{1: 1,
 2: 2,
 3: 4,
 4: 4,
 5: 3,
 6: 3,
 7: 2,
 45: 1,
 23: 1,
 'k1': 1,
 'sudh': 1,
 'k2': 1,
 'ineuron': 2,
 'k3': 1,
 'kumar': 1,
 8: 1,
 'data science ': 1}

# q11

In [113]:
count = 0
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            count+=1
        
count

5

# q12

In [93]:
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            if type(key)==str:
                print(key)
            if type(value)==str:
                print(value)
    else:
        for j in i:
            if type(j)==str:
                print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

# q13

In [101]:
def is_alnum(strg):
    is_letter = False
    is_num = False
    for i in strg:
        if i.isdigit():
            is_num = True
        if i.isalpha():
            is_letter = True
    if is_letter and is_num:   
        return True
    else:
        return False
        
    
for i in l:
    if type(i)==dict:
        for key,value in i.items():
            if type(key)==str:
                if is_alnum(key):
                    print(key)
            if type(value)==str:
                if is_alnum(value):
                    print(value)
    else:
        for j in i:
            if type(j)==str:
                if is_alnum(j):
                    print(j)

k1
k2
k3

# q14

In [111]:
for i in l:
    if type(i)==dict:
        count = 1
        for key,value in i.items():
            if type(key)==int:
                count*=key
            if type(value)==int:
                count*=int(value)

        print("multiplication of dict is: ",count)            
                
    else:
        count = 1
        for j in i:
            if type(j)==int:
                count*=j
        if count==1:
            count=0
        print(f"multiplication of {type(i)} is: ",count)

multiplication of <class 'list'> is:  24
multiplication of <class 'tuple'> is:  720
multiplication of <class 'tuple'> is:  2520
multiplication of <class 'set'> is:  20700
multiplication of dict is:  1008
multiplication of <class 'list'> is:  0

# q15

In [112]:
lst = []
for i in l:
    if type(i)==dict:
        for key,value in i.items():
                lst.append(key)
                lst.append(value)
    else:            
        for j in i:
            lst.append(j)
            
lst

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']